*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;

}

body{
    background-image: url("https://e0.pxfuel.com/wallpapers/63/653/desktop-wallpaper-fitness-background-gym-black.jpg");
    width: 97%;
    background-repeat: no-repeat;
    background-size: cover;
}
